## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.vscode/
*.swp
*~

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
!**/packages/repositories.config
*.nuspec

## ASP.NET
wwwroot/

## Rider / JetBrains
.idea/
*.sln.iml

## Docker secrets
.env
.env.*
!.env.example

## macOS
.DS_Store

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
